In [7]:
import pandas as pd
import numpy as np

In [8]:
r_cols = ['user_id', 'movie_id', 'rating']
rating = pd.read_csv('../Data/movies data/movies_data.txt', sep='\t', names=r_cols, usecols=range(3))

m_cols = ['movie_id', 'title']
movies = pd.read_csv('../Data/movies data/movies_item.txt', sep='|', names=m_cols, usecols=range(2))

ratings = pd.merge(movies, rating)

movieRating = ratings.pivot_table(index='user_id', columns='title', values='rating')
movieRating.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,� k�ldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
starWarsRating = movieRating['Star Wars (1977)']

similarMovies = movieRating.corrwith(starWarsRating)
similarMovies = similarMovies.dropna()

similarMovies = similarMovies.sort_values(ascending=False)

df = pd.DataFrame(similarMovies)
df.head()

                       0
title
Hollow Reed (1996)   1.0
Commandments (1997)  1.0
Cosi (1996)          1.0
No Escape (1994)     1.0
Stripes (1981)       1.0

In [10]:
movieStats = ratings.groupby('title').agg({'rating': [np.size, np.mean]})
movieStats.head()

                          rating
                            size      mean
title
'Til There Was You (1997)      9  2.333333
1-900 (1994)                   5  2.600000
101 Dalmatians (1996)        109  2.908257
12 Angry Men (1957)          125  4.344000
187 (1997)                    41  3.024390

In [11]:
popularMovies = movieStats['rating']['size'] >= 100
movieStats[popularMovies].sort_values([('rating', 'mean')], ascending=False)[:15]

                                       rating
                                         size      mean
title
Close Shave, A (1995)                     112  4.491071
Schindler's List (1993)                   298  4.466443
Wrong Trousers, The (1993)                118  4.466102
Casablanca (1942)                         243  4.456790
Shawshank Redemption, The (1994)          283  4.445230
Rear Window (1954)                        209  4.387560
Usual Suspects, The (1995)                267  4.385768
Star Wars (1977)                          584  4.359589
12 Angry Men (1957)                       125  4.344000
Citizen Kane (1941)                       198  4.292929
To Kill a Mockingbird (1962)              219  4.292237
One Flew Over the Cuckoo's Nest (1975)    264  4.291667
Silence of the Lambs, The (1991)          390  4.289744
North by Northwest (1959)                 179  4.284916
Godfather, The (1972)                     413  4.283293

In [25]:
df = movieStats[popularMovies].join(pd.DataFrame(similarMovies, columns=['similarity']))
df.head()

MergeError: Not allowed to merge between different levels. (2 levels on the left, 1 on the right)

In [24]:
import pandas as pd

# ایجاد داده‌ها
data_rating = {'rating': [''], 'size': [''], 'mean': ['']}
data_size_mean = {'title': [''], 'size': ['Medium'], 'mean': [4.5]}
data_title = {'title': ['Book']}

# ایجاد دیتافریم‌ها
df_rating = pd.DataFrame(data_rating)
df_size_mean = pd.DataFrame(data_size_mean)
df_title = pd.DataFrame(data_title)

# افزودن دیتافریم‌ها
df = pd.concat([df_rating, df_size_mean, df_title], axis=0, ignore_index=True)

# تنظیم هدرهای ردیفها
df.index = ['rating', '', 'title']

print(df)

       rating    size mean title
rating                       NaN
          NaN  Medium  4.5
title     NaN     NaN  NaN  Book